{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="The Page Description">
		<style type="text/css">@-ms-viewport{width: device-width;}</style>
		<title>Ellie - .net</title>
		<link rel="stylesheet" href="{% static 'css/layers.min.css' %}" media="screen">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" media="screen">
		<link rel="stylesheet" href="{% static 'style.css' %}" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" href="{% static 'favicon.ico' %}">
		<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-touch-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}">
	</head>

	<body class="blog list-style">

		<header role="banner" class="transparent light">
			<div class="row">
				<div class="nav-inner row-content buffer-left buffer-right even clear-after">
					<div id="brand">
						<h1 class="reset"><!--<img src="img/logo.png" alt="logo">--><a href="{% url 'index' %}">Ellie</a></h1>
					</div><!-- brand -->
					<a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
					<nav>
						<ul class="reset" role="navigation">
							<li class="menu-item">
								<a href="{% url 'index' %}">Home</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'index' %}">Blog</a>
								<ul class="sub-menu">
									<li><a href="{% url 'python'%}">Python</a></li>
									<li><a href="{% url 'net'%}">.Net</a></li>
									<li><a href="{% url 'deep_learning'%}">Deep Learning</a></li>
									<li><a href="{% url 'personal'%}">Personal</a></li>
								</ul>
							</li>
							<li class="menu-item"><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</nav>
				</div><!-- row-content -->
			</div><!-- row -->
		</header>

		<main role="main">
			<div id="intro-wrap"  data-height="22.222">
				<div id="intro" class="preload darken">
					<div class="intro-item" style="background-image: url(/static/img/feather.jpg);">
						<div class="caption">
							<h2>Stories I Tell</h2>
							<p>The universe is made of stories, not of atoms.</p>
						</div><!-- caption -->
					</div><!-- intro -->
				</div><!-- intro -->
			</div><!-- intro-wrap -->

			<div id="main" class="row">
				<div class="row-content buffer-left buffer-right buffer-bottom clear-after">
					<div class="column nine">
						{% for article in articles %}
							<article class="clear-after">
								<div class="column three">
									<figure><img src="{% static 'img/rabbit.jpg' %}" alt=""></figure>
								</div><!-- column three -->
								<div class="column nine last">
									<h2><a href="{% url 'article_net' id=article.id %}">{{ article.title }}</a></h2>
										<h5 class="meta-post"><a href="#">learn</a>, <a href="#">Design</a> - <time datetime="2013-11-10">{{ article.date }}</time></h5>
									<p> {{ article.main_content }}</p>
								</div><!-- column nine -->
							</article>
						{% endfor %}
						<!--div id="pagination">
							<ul class="clear-after reset plain">
								<li id="older" class="pagination-nav"><a href="#" class="button transparent aqua"><i class="fa fa-chevron-left"></i><span class="label">Older</span></a></li>
								<li id="newer" class="pagination-nav"><a href="#" class="button transparent aqua"><span class="label">Newer</span><i class="fa fa-chevron-right"></i></a></li>
							</ul>
						<!--/div-->
					</div><!-- column nine -->
					<aside role="complementary" class="sidebar column three last">
						<div class="widget widget_search">
							<form role="search">
								<span class="pre-input"><i class="icon icon-search"></i></span>
								<input type="text" placeholder="Search..." value="" class="plain buffer">
							</form>
						</div>
						<div class="widget">
							<h4>About the Blog</h4>
							<div class="textwidget">
								SCUT,GuangZhou,China
							</div><!-- la class="textwidget" è forse generata automaticamente da wp -->
						</div>
						<!--div class="widget">
							<h4>Recent Posts</h4>
							<ul class="plain">
								<li><a href="#">Uff e che fatica</a></li>
								<li><a href="#">Un weekend al mare</a></li>
								<li><a href="#">Il signor Kasper</a></li>
								<li><a href="#">Ottimo lavoro</a></li>
							</ul>
						<!--/div-->
					</aside>
				</div><!-- row-content -->
			</div><!-- row -->
		</main><!-- main -->

		<footer role="contentinfo">
			<div class="row">
				<div class="row-content buffer clear-after">
					<section id="top-footer">
						<!--div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
							<!--h4>Menu</h4-->
							<!--ul class="plain">
								<li><a href="{% static 'home-01.html' %}">Home</a></li>
								<li><a href="{% static 'works-3-columns.html' %}">Portfolio</a></li>
								<li><a href="{% static 'blog-4-columns-masonry.html' %} ">Blog</a></li>
								<li><a href="{% static 'resume.html' %} ">Resume</a></li>
								<li><a href="{% static 'contact.html' %}" >Contact</a></li>
							<!--/ul-->
						<!--/div-->
						<div class="widget column three">
							<h4>Archives</h4>
							<ul class="plain">
								<li><a href="{% url 'python'%}">Python</a></li>
								<li><a href="{% url 'net'%}">.Net</a></li>
								<li><a href="{% url 'deep_learning'%}">Deep Learning</a></li>
								<li><a href="{% url 'personal'%}">Personal</a></li>
							</ul>
						</div>
						<div class="widget column three">
							<h4>contact</h4>
							<p>583442185@qq.com</p>
						</div>
						<!--div class="widget meta-social column three">
							<h4>Follow Us</h4>
							<!---ul class="inline"-->
								<!--li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
								<li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
								<li><a href="#" class="pinterest-share border-box"><i class="fa fa-pinterest fa-lg"></i></a></li>
							<!--/ul-->
						<!--/div-->
					</section><!-- top-footer -->
					<section id="bottom-footer">
						<p class="keep-left">&copy; 2017 Ellllll. All Rights Reserved.</p>
					</section><!-- bottom-footer -->
				</div><!-- row-content -->
			</div><!-- row -->
		</footer>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="{% static 'js/plugins.js' %}"></script>
		<script src="{% static 'js/beetle.js' %}"></script>

	</body>

</html>